/* CSS File for CSS 405 Web Dev Course
USM Summer 2017
Created by Courtney Kirkham
Creation Date: 25 July 2017 */

body{
	background-color: #42f4b6;
	font-family: 'Geneva', 'Arial', sans-serif;
	color: #666;
}

img{
	display: block;
	margin-left: 25%;
	width: 28%;
	border: 4px solid #42f4b6;
	border-radius: 20px;
	margin-top: 30px;
}

h3, h4, h5, h6 {
	color: #42f4b6;
}

ul{
	list-style-type: none;
}

.wrapper{
	width: 1000px;
	background-color: #fff;
	margin: auto;
	overflow: auto;
	border-radius: 20px;
	padding: 25px 30px;
}

.sub-wrapper{
	width: 1000 px;
	overflow: auto;
}

.leftSide{
	width: 250px;
	float: left;
}

.rightSide{
	width: 700px;
	float: right;
	border-left: 2px solid #666;
	padding-left: 15px;
	padding-bottom: 15px;
}

.header{
	text-align: center;
	padding-bottom: 18px;
	border-bottom: 2px solid #666;
}

.navText{
	text-align: left;
	margin: 0;
	padding: 0;
}

.footer{
	width: 1000px;
	height: 60px;
	border-top: 2px solid #666;
    text-align: center;
	font-size: 12px;
}

#footerEmail{
	color: #666;
	text-decoration: none;
};